<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mande-me um e-mail</title>
</head>
<body>
    <h1>Mande-me um e-mail</h1>
    <section name="user">
        <form method="post">
            {% csrf_token %}
            <div style="display: flex; align-items: center; gap: 10px;">
                <p>Nome :</p> 
                <input type="text" name="name" required>
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <p>E-mail :</p> 
                <input type="text" name="email" required>
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <p>Assunto :</p> 
                <input type="text" name="assunto" required>
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <p>Texto :</p> 
                <textarea name="text" rows="10"></textarea>
            </div>
            <button type="submit">Mandar</button>
        </form>
    </section>
    
</body>
</html>